DATABASE_USERNAME="user"
DATABASE_PASSWORD="password"
DATABASE_DATASOURCE=postgres_db

API_SERVICE_KEY="Share API Key that will be used by the frontend"
JWT_JWK_SET_URI="JWT Provider URI"
MEDICINES_API_URL="self explanatory"
FRONTEND_URL="self explanatory"
API_DOCS_URL="generally the own deployment URL"
